.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
ul li {
    margin-left: 40px;
}

.header ul li::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.header ul li:hover::after{
    width: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
}

.btn span {
    color: #fff;
    margin-right: 10px;
}

.btn p {
    color: #fff;
    font-weight: 800;
    font-size: 14px;
}


.btn .eg-flag {
    display: block;
    max-width: 24px;
}





















/* 
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.header ul li {
    margin-left: 30px;
}

.header ul li button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}


.header ul li button .icon {
    font-size: 28px;
    color: #fff;
    margin-right: 10px;
}

.header ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: 4px;
    transition: 0.5s;
}

.header ul li:hover:after {
    width: 100%;
}


.header ul li button .eg-flag  {
    max-width: 26px;
    max-height: 26px;
    margin-right: 10px;
}

.header ul li button p {
    color: #fff;
    font-weight: 700;
} 
 */
