.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
ul li {
    margin-left: 40px;
}

.header ul li::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.header ul li:hover::after{
    width: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn span {
    color: #fff;
    margin-right: 10px;
}

.btn p {
    color: #fff;
    font-weight: 800;
    font-size: 14px;
}


.btn .eg-flag {
    display: block;
    max-width: 24px;
}



















