.main {
    background-color: #000;
} 


.top-area-container{
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    background-image:url("../../../imgs/istockphoto-457344437-612x612.jpg");
    background-size:cover;
    background-position: center;
    position: relative;
}

