.highLighted-text {
    font-size: 36px;
    width: calc(50% - 12px);
    margin: 14px 0 40px;
    color: #fff;
    font-weight: 700;
}

.highlughted-deal {
    text-decoration: none;
    margin-bottom: 8px;
}

.highlighted-deal-horizontal {
    display: flex;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, 0.3);
    min-height: 36px;
    color: #fff;
}

.highlighted-deal-info {
    display: flex;
    flex-direction: row;
}

.highlighted-sticker {
    margin: 8px;
}

.highlighted-deal__sticker-content {
    margin: auto 8px;
    width: 108px;
    line-height: 24px;
    background-color: #e70940;
    border-radius: 5px;
    padding: 0 8px;
    text-align: center;
    color: inherit;
    font-weight: 700;
    font-size: 10px;
}

.highlighted-deal-text {
    display: flex;
}

.highlighted-deal__text-content {
    margin: auto 8px;
    display: inline-block;
}

.highlighted-deal-content-p {
    color: inherit;
    font-weight: inherit;
    font-size: 16px;
}

.highlighted-deal-title {
    margin: auto;
    line-height: 24px;
    font-weight: 700;
    font-size: 16px;
}

.highlighted-deal-tagline {
    font-size: 16px;
    color: inherit;
    margin: auto;
    line-height: 24px;
    font-weight: 400;
}

.highlighted-deal-url {
    margin: 0 24px 0 auto;
    display: flex;
}

.highkighted-deal-redirect {
    line-height: 24px;
    background-color: transparent;
    font-size: 14px;
    padding: 8px 16px;
    color: inherit;
    display: inline-flex;
    font-weight: 700;
    justify-content: center;
    text-decoration: none;
    box-sizing: border-box;
}

.ar-icon {
    margin-left: 5px;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
}